

.div-nome {
    display: flex;
    width: 100%;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}

.div-clientes {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

.div-nome-linha {
    width: 100%;
    padding-bottom: 10px;
}

.div-nome-linha p {
    font-size: 12px;
    text-align: center;
}


.text-field-spacing {
    margin-bottom: 2px;
}
